body {
  font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
  font-size: 62.5%;
}

#feedback { font-size: 1.4em; }
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }
#selectable { position: absolute; top: 5px; list-style-type: none; margin: 0; padding: 0; width: 250px; }
#selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }
  
.image { 
   position: absolute; 
   width: 100%; /* for IE 6 */
   left: 300px;
   top: 10px;
}

h5 {
  font-size: 1em;
}

.pitch {
  position: absolute; 
  top: 0px;
  left: 0; 
  width: 100%; 
  color: white; 
  font: bold 12px/24px Helvetica, Sans-Serif; 
  letter-spacing: -1px;
  /*background: rgba(0, 0, 0, 0.1);*/
  padding: 5px;
  color: #D0D0D0;
}

.pitch #team1 {
  position: absolute;
}

.pitch #team2 {
  position: absolute;
  left: 440px;
}

.pitch #player {
  position: relative;
  top: 25px;
  color: white;
}

#myForm {
  position: relative;
  top: 425px;
  left: 292px;
  width: 200px;
}


#debug {
  position: relative;
  top: 425px;
  left: 292px;
  width: 200px;
  font-size: 0.5em;
}